{% extends 'dummy.html' %}

{% block title %}
<title>User Login Page</title>

{% endblock %}

{% block body_block %}
<center>
    <h1>User Login</h1>

    <form method="POST">
        {% csrf_token %}

        <label for="un">UserName</label>
        <input type="text" name="un" id="un"> <br>

        <label for="pw">Password</label>
        <input type="password" name="pw" id="pw"> <br>

        <input type="submit" value="Login" class="btn btn-primary">
    </form>

    <a href="{% url 'reset_password' %}" class="btn btn-primary">reset_password</a>

</center>
{% endblock %}



